:root {
  --main-yellow: #FFCD00;
  --main-red: #E03131;
}

html * { box-sizing: border-box; }
body {
  background: #000 url(./uploads/body-background--device.jpg) center top / cover no-repeat fixed;
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  body {
    background: #000 url(./uploads/body-background.jpg) center top / cover no-repeat fixed;
  }
}

/***
 *** Base
***/
.questionnaire {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

h1, h2, h3, h4, p { margin: 0; }

@media only screen and (min-width: 1200px) {
  .questionnaire {
    padding: 60px 0 80px;
  }
}

/***
 *** Typography
***/
.questionnaire * {
  color: #6D6E71;
  font-weight: 100;
  font-family: 'YP Local', sans-serif;
  line-height: 1.5em;
}

.section__header {
  padding: 15px 30px;
  background-color: #000;
  color: var(--main-yellow);
  font-size: 34px;
  font-family: 'YP Hand Web_Regular', sans-serif;
}

.sub-section__header {
  margin-bottom: 10px;
  color: #000;
  font-size: 24px;
}

.sub-section__intro {
  margin-bottom: 20px;
  font-size: 19px;
}

.form-field__question {
  font-weight: 300;
  font-size: 16px;
}

.form-field__contextual {
  color: #A7A9AC;
  font-style: italic;
  font-size: 14px;
}

.form-field__error {
  margin-top: 5px;
  color: var(--main-red);
  font-style: italic;
}

/***
 *** Layout
***/
/*** Sub sections ***/
.sub-section {
  padding: 30px;
  margin-bottom: 20px;
  background-color: #FFF;
}
.sub-section:last-of-type {
  margin-bottom: 0;
}

.intro.sub-section {
  padding: 0 0 30px;
}
.intro.sub-section .sub-section__intro {
  padding: 0 30px 0;
  margin-bottom: 0;
}

.sub-section.low-level {
  padding: 0;
}

.intro.sub-section .sub-section__header {
  padding: 20px 30px 0;
}

.margin .intro.sub-section {
  margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .sub-section.lg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  .sub-section.lg .sub-section__header,
  .sub-section.lg .sub-section__intro {
    grid-column: 1 / 3;
  }
}

/*** Field containers ***/
.form-field__label,
.form-field__checkbox-container {
  display: block;
  margin: 0 0 20px;
}

@media only screen and (min-width: 768px) {
  .form-field__checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  .form-field__checkbox-container > div {
    grid-column: 1 / 3;
  }
}

@media only screen and (min-width: 1200px) {
  .form-field__checkbox-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form-field__checkbox-container > div {
    grid-column: 1 / 4;
  }
}


/***
 *** Inputs
***/
/*** Text fields ***/
.form-field__label input[type="text"],
.form-field__label textarea {
  margin: 10px 0 0;
  padding: 8px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.11);
  resize: none;
}

.error.form-field__label input[type="text"],
.error.form-field__label textarea {
  border: 1px solid var(--main-red);
}

.form-field__error {
  display: none;
}

.error.form-field__label .form-field__error {
  display: block;
}

.required.form-field__label input[type="text"],
.required.form-field__label textarea {
  background: url(./uploads/input__required.png) right top / auto 50% no-repeat;
}

/*** Checkboxes ***/
.form-field__checkbox-container {
  align-self: baseline;
}

.form-field__checkbox-container > div {
  margin: 0 0 10px;
}

.form-field__checkbox-container .form-field__label {
  margin-bottom: 5px;
}

.form-field__checkbox-container:not(#foo) .form-field__checkbox {
  margin-right: 5px;
  opacity: 0;
  position: absolute;
}

.form-field__checkbox-container:not(#foo) .form-field__checkbox-span {
  background-image: url(./uploads/check--unselected-2.png);
  background-size: auto 1em;
  background-repeat: no-repeat;
  background-position: 0 0.25em;
  display: inline-block;
  padding-left: 28px;
}

.form-field__checkbox-container:not(#foo) .form-field__checkbox:checked + .form-field__checkbox-span {
  background-image: url(./uploads/check--selected.png);
}

/*** Panels ***/
.form-panel__sub-sub-vertical {
  padding: 30px;
}

.form-panel__sub-sub-vertical:nth-child(2n) {
  background-color: rgba(0,0,0,0.02);
}

/*** Buttons ***/
.button {
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
  padding: 8px 20px;
  border: none;
  background-color: var(--main-yellow);
  font-weight: 300;
  outline: none;
  border-radius: 0;
  margin-bottom: 20px;
}

.button:hover {
  color: var(--main-yellow);
  background-color: #000;
}

.finish-questionnaire .button {
  text-decoration: none;
  display: table-cell;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  /* margin-bottom: 40px; */
}

/* .finish-questionnaire a.button:last-of-type {
  margin-bottom: 0;
} */

/***
 *** Nav
***/
/*** Top tab nav ***/
nav::before {
  content: unset;
  pointer-events: none;
}

.tab-navigation {
  background-color: var(--main-yellow);
  margin-bottom: 20px;
}

.tab-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: static;
  background: unset;
  overflow-y: unset;
}

.tab {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5em 0.5em 0.4em;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: block;
}

.fr .tab {
  font-size: 16px;
}

.tab.active,
.tab:hover {
  color: #FFF;
  background-color: #000;
}

@media only screen and (min-width: 1200px) {
  .tab-navigation {
    background-color: #000;
  }

  .tab-navigation ul {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
  }

  .tab {
    flex: 1 0 auto;
    color: #FFF;
    background-color: #000;
  }

  .tab.active::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1.49em;
    height: 0;
    width: 0;
    border-top: 1.2em solid transparent;
    border-bottom: 1.2em solid transparent;
    border-right: 0.75em solid transparent;
    border-left: 0.75em solid #000;
    z-index: 2;
  }

  .tab:hover {
    color: #FFF !important;
    background-color: #000 !important;
  }

  .tab:hover ~ .tab,
  .tab.active ~ .tab {
    background-color: var(--main-yellow);
    color: #000;
  }

  .tab.active ~ .tab ~ .tab:hover {
    color: #FFF !important;
    background-color: #000 !important;
  }

  .tab:hover ~ .tab::after {
    border-left-color: var(--main-yellow);
  }
}

/*** Bottom button nav ***/
.button-navigation {
  background-color: #FFF;
  padding: 0 30px 20px;
  transition: all 300ms ease;
}

.button-navigation .button {
  min-width: 100%;
}

@media only screen and (min-width: 768px) {
  .button-navigation {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }

  .button-navigation .button {
    min-width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .button-navigation .button {
    min-width: 20%;
  }
}

/*** Submit section ***/
.submit-section {
  background-color: #FFF;
  padding: 0 20px 30px;
}

/***
 *** Thank You section
***/
.sub-section.thank-you {
  padding: 80px 30px;
  background: rgba(0, 0, 0, 0.85);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.sub-section.thank-you .thank-you__third {
  padding: 30px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.sub-section.thank-you .thank-you__third:first-of-type {
  border-left: none;
}

.sub-section.thank-you .thank-you__third .sub-section__intro {
  text-align: center;
  color: rgba(255,255,255,0.85);
  width: 100%;
  margin-bottom: 30px;
}

.sub-section.thank-you .sub-section__header {
  font-family: 'YP Hand Web_Regular', sans-serif;
  color: #FFF;
  font-size: 72px;
  text-align: center;
  grid-column: 1 / 4;
  margin-bottom: 30px;
}

.sub-section.thank-you .button:hover {
  color: #000;
  background-color: #FFF;
}


/***
 *** Animation
***/
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 300ms ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
